html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-content: flex-start;
}

nav {
  display: flex;
  justify-content: space-between;
}
.app{
  width: 100vw;
  padding: 50px 100px;
}

main {
  width: 100vw;
  padding: 50px 100px;
  background: #1c2535;
  color: white;
  box-sizing: border-box;
}

.menu {
  width: 33px;
  height: 16px;
}

.content{
  padding-top: 100px;
  padding-bottom: 100px;
}

.content h1{
  font-size: 68px;
  margin: 0;
}
p{
  /* font-size: 68px; */
  margin: 0;
}

.text{
  margin: 20px 0;
}
.features{
  display: flex;
  justify-content:space-around ;
  background-color: white;
  padding: 100px 0;
}

.feature{
  color: #1c2535;
  letter-spacing: 0.1em;
}

.feature h2{
margin: 5px 17px ;
}

.feature-text{
  font-size: 14px;
  color: grey ;
  line-height: 1.2em;
  margin-left: 17px ;
}